body {
  background: #fcfcfc;
}

#title, .subtitle, .post_title{
  color: blue;
}

.post_title{
  font-size: 16px;
  font-style: italic;
}

.post {
  background: #DCDCDC;
  padding: 15px;
  border: 2px solid #505050;
  border-radius: 5px;
  margin: 15px;
}

.img_post {
  border-radius: 5px;
}
