body {
  background: #fcfcfc;
}

.photo{
  border: 1px solid #505050;
  border-radius: 50px;
}

#title, .subtitle, .post_title{
  color: black;
}

#title{
  font-family: Verdana;
}

.post_title{
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
  font-family: Verdana, Arial;
}

.post {
  background: #DCDCDC;
  padding: 15px;
  border: 3px solid #505050;
  border-radius: 5px;
  margin-bottom: 15px;
}

.img_post {
  margin-bottom: 15px
}

.post_content{
  margin: 0;
  margin-bottom: 15px;
}
